raporist.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "chatId": "987494348",
        "text": "=Günaydın! \nBalıkesir'de hava şu an {{ $('HTTP Request').item.json.current_condition[0].temp_C }} derece ve bugunkü durum: {{ $('HTTP Request').item.json.current_condition[0].weatherDesc[0].value }}\n\nGecenin özeti:\n{{ $json.title }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        0
      ],
      "id": "dc401eb9-a0a1-42f1-bef7-9f1ad287e488",
      "name": "Send a text message",
      "webhookId": "8e3b7110-4345-47d3-ac04-697da60fadb0",
      "credentials": {
        "telegramApi": {
          "id": "D22BwKLkjYikfnWE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "30a06fdf-9dc9-44ac-91c3-702043200025",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://wttr.in/Balikesir?format=j1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "dadd5360-9286-4b89-9e8a-e35e9b71e173",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://www.ntv.com.tr/son-dakika.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "id": "786c2db4-a7d3-4315-8ba6-68100398ba22",
      "name": "RSS Read"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "90d07bc5-a275-4cbb-b42c-5752b3b64e8b",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e054b7f8-ef28-450c-9768-7c0bc82b72ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb0424f69f9d76dc764f214ee2851ec980a52a81c8627500bda98cb6dc90717b"
  },
  "id": "G0b9dd4J59zRIGez",
  "tags": []
}